<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Foundation Matcher</title>

<!-- Bootstrap -->
<link href="../css/bootstrap.css" rel="stylesheet"></link>
<link href="../css/style.css" rel="stylesheet"></link>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body th:id="${css}">
<form method="post" th:action="@{/quiz3}">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-6 text-center col-md-offset-3 quizBox">
			<h1 class="anzutitle" th:text="${msg}"></h1>
			<p class="text-center"><img th:src="@{img/pic.jpg}" src="../static/img/pic.jpg" class="img-responsive center" alt="写真" /></p>
			<ul class="clearfix text-center">
				<li>
					<p th:text="${question1}" class="text-center"></p>
					<p><input type="radio" id="full" name="q3" value="full" th:value="*{value1}" required="required"></input></p>
				</li>
				<li>
					<p th:text="${question2}" class="text-center"></p>
					<p><input type="radio" id="medium" name="q3" value="medium" th:value="*{value2}"></input></p>
				</li>
				<li>
					<p th:text="${question3}" class="text-center"></p>
					<p><input type="radio" id="sheer" name="q3" value="sheer" th:value="*{value3}"></input></p>
				</li>
			</ul>
		</div>
	  </div>
	</div>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-12 text-center">		  
		  	<button type="submit" class="btn btn-success btn-sm" value="next">NEXT</button>
		</div>
	  </div>
	</div>
	<div class="container-fluid"> 
	  <div class="row">
		<div class="text-center col-md-6 col-md-offset-3 footer">
		  <h4>MORE INFORMATION</h4>
		  <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot; Misaki Kawaoka</p>
		</div>
	  </div>
	</div>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script>
</body>
</html>
